<!DOCTYPE html>
<html lang="en">
        <head>
            <meta charset="UTF-8">
            <Title> MY WEBSITE- About</Title>
            <link rel="stylesheet" href="/static/css/app.css">
        </head>
        <body>
            <h1>ROSHAINE SCOTT</h1>
            <p>i am an aspiring network engineer with a love for music and getting work done.<br>I am also the culture and entertainment chairman
            for my hall of residence in which i help to foster the overall delivery and growth of my hall's culture. 
        </p>

        </body>
</html>